<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="0WObqWmf_B_UO9e7EQ9oU8rjZW4_TEsNsWArJ6I6JQY" />
  <title>{% block title %}FB Birthdays{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="app-container">
    <div class="card">
      <main>
        {% block content %}
        <!-- default content could go here -->
        {% endblock %}
      </main>
    </div>
  </div>
</body>
</html>
